<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student Bean using Constructor Injection -->
    <bean id="student" class="com.klu.SpringDependencyInjection.Student">

        <constructor-arg value="32911"/>
        <constructor-arg value="Mithun"/>
        <constructor-arg value="Java Full Stack"/>
        <constructor-arg value="3"/>

    </bean>

</beans>